## MultiIndexing (hierarchical indexing) performed via Pivot tables. 

- Make a dataframe with hierarchical indexing in the columns. Hint: Use .pivot_table(). 

- Write a program that returns all values in the MultiIndex (name of inner levels). For example, for Age, it should return 'From 15 to 24 years', etc.

In [30]:
import numpy as np
import pandas as pd

data = pd.read_csv("employee.csv")

table = pd.pivot_table(data,index=['DATE'],columns=['UNIT','AGE','SEX','INDIC_EM','GEO'],values=['Value'])
table

                                    Value                                  \
UNIT       Percentage of total population
AGE                   From 15 to 24 years
SEX                               Females
INDIC_EM                Active population
GEO                               Austria Belgium Bulgaria Croatia Cyprus
DATE
2007-01-01                           56.0    31.6     26.0    31.5   39.7
2008-01-01                           56.2    30.8     26.1    29.9   40.5
2009-01-01                           56.2    29.9     24.8    30.0   38.8
2010-01-01                           54.0    29.8     26.6    30.7   40.2
2011-01-01                           54.8    29.8     24.8    26.9   36.6
2012-01-01                           55.4    27.9     25.3    25.3   35.5
2013-01-01                           55.3    28.2     24.7    24.8   36.3
2014-01-01                           55.4    28.1     22.7    28.5   39.5
2015-01-01                           54.1    27.1     21.2    28.0   38.9
2016-01-01                           54.6    26.2     19.6    32.3   37.8

                                                                    \
UNIT
AGE
SEX
INDIC_EM
GEO        Czech Republic Denmark Estonia Euro area (17 countries)
DATE
2007-01-01           26.9    69.1    32.1                     40.9
2008-01-01           26.1    71.5    37.1                     40.9
2009-01-01           26.1    70.0    34.1                     40.4
2010-01-01           25.3    67.4    34.3                     39.2
2011-01-01           24.1    67.1    36.5                     39.2
2012-01-01           25.9    64.0    37.2                     38.6
2013-01-01           26.1    62.4    38.2                     38.3
2014-01-01           26.1    62.0    37.0                     37.6
2015-01-01           27.4    62.5    37.7                     37.2
2016-01-01           26.2    67.3    40.4                     37.2

                                         ...        \
UNIT                                     ...
AGE                                      ...
SEX                                      ...
INDIC_EM                                 ...
GEO        Euro area (18 countries)      ...
DATE                                     ...
2007-01-01                     40.8      ...
2008-01-01                     40.9      ...
2009-01-01                     40.4      ...
2010-01-01                     39.2      ...
2011-01-01                     39.1      ...
2012-01-01                     38.6      ...
2013-01-01                     38.3      ...
2014-01-01                     37.6      ...
2015-01-01                     37.2      ...
2016-01-01                     37.2      ...

                                                                          \
UNIT                                           Thousand persons
AGE                                         From 55 to 64 years
SEX                                                       Total
INDIC_EM   Total employment (resident population concept - LFS)
GEO                                                      Poland Portugal
DATE
2007-01-01                                             1273.0      627.0
2008-01-01                                             1432.0      635.0
2009-01-01                                             1545.0      631.0
2010-01-01                                             1704.0      637.0
2011-01-01                                             1919.0      623.0
2012-01-01                                             2059.0      614.0
2013-01-01                                             2195.0      625.0
2014-01-01                                             2316.0      640.0
2015-01-01                                             2424.0      673.0
2016-01-01                                             2462.0      708.0

                                                                         \
UNIT
AGE
SEX
INDIC_EM
GEO        Romania Slovakia Slovenia   Spain Sweden Switzerland  Turkey
DATE
2007-01-01   963.0    204.0     81.0  2135.0  854.0         NaN  1282.0
2008-01-01  1036.0    235.0     82.0  2229.0  855.0         NaN  1354.0
2009-01-01  1052.0    249.0     89.0  2185.0  846.0         NaN  1449.0
2010-01-01  1098.0    266.0     93.0  2190.0  841.0       640.0  1583.0
2011-01-01  1077.0    284.0     88.0  2274.0  849.0       661.0  1760.0
2012-01-01  1130.0    306.0     96.0  2289.0  849.0       675.0  1876.0
2013-01-01  1151.0    319.0     98.0  2295.0  848.0       697.0  1932.0
2014-01-01  1190.0    328.0    104.0  2395.0  847.0       709.0  2006.0
2015-01-01  1113.0    346.0    108.0  2595.0  849.0       737.0  2107.0
2016-01-01  1136.0    361.0    113.0  2791.0  861.0       765.0  2302.0


UNIT
AGE
SEX
INDIC_EM
GEO        United Kingdom
DATE
2007-01-01         4131.0
2008-01-01         4204.0
2009-01-01         4193.0
2010-01-01         4186.0
2011-01-01         4164.0
2012-01-01         4220.0
2013-01-01         4337.0
2014-01-01         4457.0
2015-01-01         4607.0
2016-01-01         4782.0

[10 rows x 1440 columns]

In [29]:
data = pd.read_csv("employee.csv")
data

age = pd.pivot_table(data,index=['AGE'])
print(age.index.values)

sex = pd.pivot_table(data,index=['SEX'])
print(sex.index.values)

geo = pd.pivot_table(data,index=['GEO'])
print(geo.index.values)

indic = pd.pivot_table(data,index=['INDIC_EM'])
print(indic.index.values)

unit = pd.pivot_table(data,index=['UNIT'])
print(unit.index.values)

['From 15 to 24 years' 'From 25 to 54 years' 'From 55 to 64 years']
['Females' 'Males' 'Total']
['Austria' 'Belgium' 'Bulgaria' 'Croatia' 'Cyprus' 'Czech Republic'
 'Denmark' 'Estonia' 'Euro area (17 countries)' 'Euro area (18 countries)'
 'Euro area (19 countries)' 'European Union (15 countries)'
 'European Union (27 countries)' 'European Union (28 countries)' 'Finland'
 'Former Yugoslav Republic of Macedonia, the' 'France'
 'France (metropolitan)'
 'Germany (until 1990 former territory of the FRG)' 'Greece' 'Hungary'
 'Iceland' 'Ireland' 'Italy' 'Latvia' 'Lithuania' 'Luxembourg' 'Malta'
 'Netherlands' 'Norway' 'Poland' 'Portugal' 'Romania' 'Slovakia'
 'Slovenia' 'Spain' 'Sweden' 'Switzerland' 'Turkey' 'United Kingdom']
['Active population'
 'Total employment (resident population concept - LFS)']
['Percentage of total population' 'Thousand persons']